[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
gunicorn = "*"
whitenoise = "5.3.0"  # Add this line with the version number

[dev-packages]

[requires]
python_version = "3.11"
